<div class="card" *ngIf="comentario !== undefined">
    <div class="card-header">
        <h3>{{comentario.titulo}} </h3>
    </div>
    <div class="card-body">
        <div class="card-text">
            <h5>{{comentario.texto}} </h5>
        </div>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="badge rounded-pill bg-primary m2-2">
                        <fa-icon [icon]="usuario"></fa-icon>  {{comentario.creador}}
                    </span>
                    <span class="badge rounded-pill bg-secondary m-2">
                        <fa-icon [icon]="calendar"></fa-icon> {{comentario.fechaCreacion | date:'dd/mm/yyyy'}} 
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
